body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hab-img-changer__img-container {
  padding: 20px;
}

.hab-img-changer__arrow {
  visibility: hidden;
  width: 120px;
  height: auto;
}

.hab-img-changer__arrow--visible {
  visibility: visible;
}

.hab-img-changer__img-a,
.hab-img-changer__img-b,
.hab-img-changer__img-c {
  width: 120px;
  height: auto;
  padding: 10px;
}
