extends layout

block content
  a(href='/')
    p Home

  h1 POKEMONS

  div(class='hab-img-changer')
    h3 All pokemons must be the same as pointed!
    div(class='hab-img-changer__img-container')
      img(class='hab-img-changer__arrow' src='img/arrow.png')
      img(class='hab-img-changer__img-c')
      img(class='hab-img-changer__img-b')
      img(class='hab-img-changer__img-a')



block scripts
  script(src='js/img-changer.js')