extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/auth/basic')
    p Basic auth
  a(href='/auth/digest')
    p Digest auth
  a(href='/auth/fb-oauth')
    p Fb oauth
  a(href='/img-changer')
    p Img Changer
